@font-face {
    font-family: BOGmBankGEORBTNusxuri-Regular;
    src: url("file:///android_asset/font/bog_regular.ttf") format("truetype")
}

@font-face {
    font-family: BOGmBankGEORBTMtavruli-Medium;
    src: url("file:///android_asset/font/bog_medium.ttf") format("truetype")
}

#liveForm .kpl_builder .control-label {
    font-family: BOGmBankGEORBTNusxuri-Regular !important;
    font-size: 14px !important;
    color: #333 !important
}

.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.hover, neb-rating .neb-rating.numbersCircle span span label.hover {
    background-color: #fc6719 !important
}

.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.selected, neb-rating .neb-rating.numbersCircle span span label.selected {
    background-color: #fc6719 !important;
    background: -webkit-radial-gradient(center, ellipse cover, #fc6719 60%, #fc6719 62%) !important
}

.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label {
    font-size: 12px !important;
    color: #333 !important
}

#liveForm .mobile-form-revamp.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.on, neb-rating .neb-rating.numbersCircle span span label.on {
    background-color: #fc6719 !important;
    background: -webkit-radial-gradient(center, ellipse cover, #fc6719 60%, #fc6719 62%) !important;
    box-shadow: none;
    border-color: #fc6719 !important
}

#liveForm .mobile-form-revamp {
    padding-left: 24px;
    padding-right: 24px
}

#liveForm label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox {
    border-color: #fc6719 !important;
    background-color: #fc6719
}

#liveForm .mobile-form-revamp label.label-checkbox i.icon-form-checkbox {
    width: 21px;
    height: 21px;
    border-radius: 25px
}

#liveForm label.label-radio input[type=radio]:checked + .item-media i.icon-form-radio {
    border-color: #fc6719 !important;
    border-radius: 45px !important
}

#liveForm label.label-radio i.icon-form-radio:after {
    background-color: #fc6719 !important;
    border-width: .5px !important
}

#liveForm label.label-radio i.icon-form-radio {
    border-width: .5px !important
}

.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label input[type=radio] {
    display: none
}

.kpl-live-mobile.neb-rating-html-implementation neb-rating.grading .neb-rating.numbersCircle .neb-rating-value label.rating-label {
    border-radius: 25px;
    padding-top: 1px
}

md-slider._md-min[md-discrete] ._md-sign, md-slider._md-min[md-discrete] ._md-thumb:after, md-slider.md-default-theme._md-min[md-discrete] ._md-sign, md-slider.md-default-theme._md-min[md-discrete] ._md-thumb:after, md-slider.md-default-theme.md-primary ._md-sign, md-slider.md-default-theme.md-primary ._md-track._md-track-fill, md-slider.md-primary ._md-sign, md-slider.md-primary ._md-track._md-track-fill {
    background-color: #fc6719 !important;
    color: #1a1a1a !important
}

md-slider._md-min[md-discrete] ._md-sign:after, md-slider.md-default-theme._md-min[md-discrete] ._md-sign:after, md-slider.md-default-theme.md-primary ._md-sign:after, md-slider.md-primary ._md-sign:after {
    border-top-color: #fc6719 !important
}

md-slider.md-default-theme.md-primary ._md-thumb-text, md-slider.md-primary ._md-thumb-text {
    color: #1a1a1a
}

md-slider ._md-track-ticks, md-slider.md-default-theme ._md-track-ticks {
    display: none
}

#liveForm .buttonMobile {
    padding-left: 10px;
    padding-right: 10px
}

#liveForm .kpl_builder .panel-footer .buttonMobile a {
    width: 70% !important;
    height: 40px !important;
    border-radius: 25px;
    padding-top: 9px
}

#liveForm .mobile-form-revamp .new-mobile-button {
    width: 100%
}

neb-rating .neb-rating .neb-rating-value label.rating-label span.native-display-value-in-rating {
    padding-top: 3px
}

#liveForm .mobile-form-revamp.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label {
    height: 30px !important;
    line-height: 23px;
    background-color: #fff;
    border: 1px solid #d4d4d4 !important;
    border-radius: 50%
}

#liveForm .mobile-form-revamp.neb-rating-html-implementation .neb-content.mobile-numbers-squares {
    height: 35px;
    border-width: Thin !important
}

#liveForm .button.button-big {
    font-family: "BOGmBankGEORBTMtavruli-Medium !important";
    border-radius: 25px
}

#liveForm .neb-content .formTemplate-img {
    padding: 0 0
}

.boldText [control-label] {
    font-weight: 700 !important
}

.questionBackground {
    background-color: #f7f7f7 !important
}

neb-rating .neb-rating .edge-labels {
    margin-top: -10px !important;
    font-size: 8px !important;
    color: #777 !important
}

rating-html-implementation neb-rating .neb-rating.numbersSquare {
    margin: 9px 0 2px 0
}

#liveForm .mobile-form-revamp .neb-rating .edge-labels {
    margin-top: -10px !important
}

#liveForm .mobile-form-revamp .neb-mobile-component .commonLabel label.control-label {
    font-size: 14px;
    line-height: 17px !important;
    color: #333
}

#liveForm .mobile-form-revamp .neb-checkbox li label .item-inner .item-title, #liveForm .mobile-form-revamp .neb-radio li label .item-inner .item-title {
    font-family: BOGmBankGEORBTNusxuri-Regular !important;
    font-size: 10px !important;
    color: #333
}

#liveForm .mobile-form-revamp .new-mobile-button {
    background: #fd671a !important;
    font-family: BOGmBankGEORBTMtavruli-Medium !important;
    height: 44px;
    border-radius: 45px !important;
    font-size: 16px !important
}

#liveForm .mobile-form-revamp .neb-textInput .item-content input[type=text] {
    padding-bottom: 2px;
    font-size: 10px !important
}

#liveForm .mobile-form-revamp .list-block textarea {
    font-size: 10px
}